* {
  box-sizing: border-box;
  font-family: cursive;
}
body {
  --text-color: hsl(200, 15%, 8%);
  --background-color: hsl(0, 0%, 99%);
  --element-background: hsl(0, 100%, 100%);
  --input-text: hsl(0, 0%, 50%);
  margin: 0;
  font-family: 'Nunito';
  /* transition: all 0.3s ease-in; */
}
main,
header {
  background-color: var(--background-color);
  color: var(--text-color);
}
main.dark,
header.dark {
  --text-color: hsl(0, 100%, 100%);
  --background-color: hsl(207, 26%, 17%);
  --element-background: hsl(209, 23%, 22%);
  --input-text: hsl(0, 100%, 100%);
}
main {
  padding: 36px 16px;
  max-width: 1400px;
  margin-inline: auto;
  min-height: calc(100vh - 73px);
  /* min-height: 100vh; */
}
a {
  text-decoration-line: none;
  color: inherit;
}
img {
  width: 100%;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.header-container {
  background-color: var(--element-background);
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.3);
  padding: 0 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  /* transition: all 0.3s ease-in; */
}

.header {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-weight: 800;
  font-size: clamp(16px, 4vw, 24px);
}
.dark-mode {
  font-size: clamp(10px, 3vw, 16px);
  font-weight: 600;
  cursor: pointer;
}
.search {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--element-background);
  width: 38%;
  border-radius: 4px;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.3);
  color: inherit;
  padding: 0 24px;
  position: relative;
  /* transition: all 0.3s ease-in; */
}
.search input {
  color: inherit;
  height: 100%;
  width: 90%;
  padding-left: 20px;
  border: none;
  outline: none;
  background-color: inherit;
}
input::placeholder {
  color: inherit;
  font-weight: 600;
}
.products-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.card {
  max-width: 230px;
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: var(--element-background);
  padding: 10px;
}
.productdetails-container {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--element-background);
}
.productdetails-container div {
  flex-grow: 1;
  width: 100%;
}
.img-container {
  max-width: 50%;
}
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shimmer,
.shimmer2 {
  width: 300px; /* Match your image width */
  height: 400px; /* Match your image height */
  background: linear-gradient(90deg, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 8px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.shimmer2 {
  width: 210px;
  height: 210px;
}
.heading-shimmer,
.text-shimmer {
  margin-block: 10px;
  height: 36px;
  width: 200px;
  background: linear-gradient(90deg, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  animation: shimmer 1.5s infinite linear;
  border-radius: 8px;
}
.text-shimmer {
  margin-block: 5px;
  height: 22px;
  width: 150px;
}
